.home-container {
  padding: 20px 10px;
  font-size: 22px;
  text-align: center;
  background-color: #fff;
}

.home-content-container {
  padding: 10px;
}

.home-content-container h1 {
  font-size: 22px;
  color: #fff;
}

.home-content-container p {
  font-size: 0.6em;
  color: rgb(160, 146, 146);
  padding: 10px 20px;
}

.home-card {
  background: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.home-image {
  padding: 62px 18px 35px 18px;
}

.home-image svg {
  width: 100%;
  height: auto;
}

.home-button {
  margin-top: 20px;
  padding: 20px 40px 0 40px;
  background: #ededed;
  border-radius: 10px;
}

.home-button p {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: #585858;
}

@media (min-width: 576px) {
  .home-image {
    padding: 20px 100px;
  }
  .home-image svg {
    width: 370px;
    height: 250px;
  }

  .home-content-container {
    padding: 0px 50px;
  }

  .home-content-container h1 {
    font-size: 36px;
  }

  .home-content-container p {
    font-size: 1em;
    padding-top: 0px;
  }

  .home-button {
    display: flex;
    padding: 40px 60px;
  }

  .home-button p {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .home-content-container {
    padding: 0 140px;
  }
  .home-button {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .home-content-container {
    padding: 0 270px;
  }
}
@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px;
  }
  .home-card {
    flex-direction: row;
  }
  .home-content-container {
    padding: 140px 0px 0px 80px;
    align-items: flex-start;
    text-align: left;
  }

  .home-content-container p {
    padding: 0 30px 0 0;
  }
  .home-image {
    padding: 80px 80px 80px 60px;
  }
}
